snippet hellokcd ""
#include <linux/bpf.h>
#include <bpf/bpf_helpers.h>

SEC("xdp")
int hello(struct xdp_md *ctx) {
	bpf_printk("Hello World %d", counter);
	return XDP_PASS;
}

char LICENSE[] SEC("license") = "Dual BSD/GPL";
endsnippet

snippet main ""
#include <linux/bpf.h>
#include <bpf/bpf_helpers.h>

SEC("xdp")
int hello(struct xdp_md *ctx) {
	return XDP_PASS;
}

char LICENSE[] SEC("license") = "Dual BSD/GPL";
endsnippet

snippet print "" 
bpf_printk("${1:text}");
endsnippet
